<nav class="navbar  navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
    <img src="/images/logopre.png"  width="100" height="80" class="rounded">
    </a>
    <a class="navbar-brand" href="#" >
            {{title}}
   </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{#if user}}
           <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="/listCar">List cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/showCars">Rent a car</a>
          </li>
         
          <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
          </li>
          
          {{else}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>

          {{/if}}
      </ul>
  </div>
</nav>