<div class="container">
    <h1>About Us</h1>
    <p>Car Rental Service is great way for our clients to rent or give in their car for rental whenever they please</p>
    <p>If you have some questions, feel free to contact us by clicking link below</p>
    <a href="/contact">Contact Us</a>
    <br>
    <small>All rights reserved. Copyright &copy; Assigment Project CO </small>
</div>