<div class="container">
    <h2 class="center">Welcome to our page</h2>
    <h2 class="center">Car Rental Service</h2>
    <h2 class="center">
        <a href="/displayLoginForm" class="btn btn-info">Login With Email</a>
     <h2 class="center">
        <a href="/auth/facebook" class="btn btn-primary">Login With Facebook</a>
    </h2>
    <h5 class="center">
        <a href="/signup">Create Your Account</a>
    </h5>
</div>

<style>
    body{
        background-image: url('/images/bg2.jpg');
    }
</style>